* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #181818;
    color: #fff;
    padding: 1em;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

section {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.works {
    margin-top: 3rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-auto-rows: 300px;
}

.work {
    border-radius: 1rem;
    cursor: pointer;
}

.work:nth-child(1) {
    background-color: #af0171;
}

.work:nth-child(2) {
    background-color: #8758ff;
    transition-delay: 100ms;
}

.work:nth-child(3) {
    background-color: #25316d;
    transition-delay: 200ms;
}

.work:nth-child(4) {
    background-color: #3d8361;
    transition-delay: 300ms;
}

/* transiciones */

.hidden-l {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity 1s, filter 1s, transform 1s;
}

.hidden-r {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: opacity 1s, filter 1s, transform 1s;
}

.hidden-t {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: opacity 1s, filter 1s, transform 1s;
}

.hidden-b {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: opacity 1s, filter 1s, transform 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
